<!--<form data-bind="attr: {action: post_url, id: form_id}, afterRender: onRender" method="post" id="quick-order-form" autocomplete="off">-->
<form data-bind="attr: {action: post_url, id: form_id}, submit: onFormSubmit" method="post" autocomplete="off">
    <input type="hidden" name="form_key" data-bind="attr: {value: form_key}">
    <div class="grid">
        <div class="col-tablet-landscape-3">
            <span class="form-input-label"><!-- ko i18n: 'Item:' --><!-- /ko --></span>
        </div>
        <div class="col-tablet-landscape-1">
            <span class="form-input-label"><!-- ko i18n: 'Qty:' --><!-- /ko --></span>
        </div>
    </div>
    <!-- ko foreach: fields -->
    <div class="grid" data-bind="afterRender: $parent.afterAdd">
        <div class="col-tablet-landscape-3">
            <select class="input-text js-id-selector" data-bind="attr: {name: 'product-selector['+$index()+']', 'data-product-id': $data.id, id: 'product-selector-id-' + $index()}" afterRender="$parent.initializeItemSelectorElement('#product-selector-id-' + $index())"></select>
        </div>
        <div class="col-tablet-landscape-1">
            <input class="input-text" data-bind="attr: {name: 'qty['+$index()+']'}, textInput: qty" type="text" data-validate="{'validate-quantity':true}">
        </div>
        <div class="col-tablet-landscape-2">
            <button class="btn-action inverse" data-bind="i18n: 'Remove Item', event: {click: $parent.removeItem.bind($parent, $data)}"></button>
        </div>
    </div>
    <!-- /ko -->
    <div class="new-item-row">
        <div class="form-input-group grid">
            <div class="col-tablet-landscape-3">
                <select class="order-item-selector js-order-item-selector" afterRender="initializeItemSelectorElement"></select>
            </div>
            <div class="col-tablet-landscape-1">
                <input class="input-text js-input-qty-selector form-input" type="number" placeholder="Quantity">
            </div>
            <div class="col-tablet-landscape-1">
                <button class="btn-normal" data-bind="i18n: 'Add Item', event: {click: onAddItemSubmit}"></button>
            </div>
        </div>
    </div>
    <hr>
    <div class="grid">
        <div class="col-tablet-landscape-2">
            <button type="submit" class="btn-action" data-bind="i18n: 'Checkout', disable: requestSent"></button>
        </div>
    </div>
</form>
