.selectize-input > .product-item-details {
    display: revert;

    &:not(.focus) {
        -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
        mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    }

}

.selectize-input.has-items {
    max-height: 42px;
}

.selectize-input span.price {
    //margin-left: 20px;
}
.selectize-control.single .selectize-input, .selectize-dropdown.single {
    margin-top: 4px;
    padding: 10px;
}
.selectize-dropdown-content .product-item-details {
    padding: 10px 5px;
}
.product-item-size {
    min-width: 55%;
}
.product-item-price {
    position: relative;
    bottom: 15px;
    font-size: 14px;
    font-weight: bold;
}
